/* created by: fema3832
social: github, steam, twitter, twitch, youtube
don't delete this comment, thanks */

@font-face {
  font-family: dina;
  src: url(font.ttf);
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(227, 227, 227);
  font-family: dina;
  user-select: none;
  overflow: hidden;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(227, 227, 227);
}

a, p {
  text-shadow: 0.05vh 0.05vh black;
}

.topsection, .contactsec {
  color: rgb(245, 245, 220)
}

/*MEDIA SUPPORT*/

@media (max-width: 71em) {

  .contactsec {
    top: 88.5%!important;
  }

}

@media (max-width: 36.3em) {

  .contactsec {
    top: 86.8%!important;
  }

}

/*SPLASH SCREEN
==========================*/

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  z-index: 200;
  text-align: center;
  line-height: 86.5vh;
}

.splash p {
  font-size: 5vh!important;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -200;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

/*BACKGROUND SECTION
==========================*/

.bgvideo {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  opacity: 0.85;
  object-fit: cover;
  filter: blur(10px);
  z-index: -200;
}

/*TOP SCREEN
==========================*/

.topsection p {
  position: absolute;
  line-height: 2.5vh;
  font-size: 2.14vh;
  left: 0;
  right: 0;
  top: 1%;
}

/*TITLE SECTION
==========================*/

.title {
  color: rgb(245, 245, 220);
  position: absolute;
  font-size: 4.3vh;
  left: 0;
  right: 0;
  top: 36%;
}

.infosec {
  position: absolute;
  font-size: 2.14vh;
  line-height: 3vh;
  left: 0;
  right: 0;
  top: 46%
}

.infosec a {
  transition: 200ms;
  margin-right: 1.5vh;
}

.infosec a:hover {
  color: rgb(160, 87, 255);
  transition: 200ms;
  font-size: 2.35vh;
}

/*CONTACT SECTION
==========================*/

.contactsec {
  position: absolute;
  font-size: 1.92vh;
  line-height: 2.5vh;
  left: 0;
  right: 0;
  top: 90.2%;
}

/*LINE SECTION
==========================*/

.hr1 {
  position: absolute;
  white-space: normal;
  width: 40%;
  top: 1%;
  left: 0;
  right: 0;
}

.hr2 {
  position: absolute;
  white-space: normal;
  width: 40%;
  top: 97%;
  left: 0;
  right: 0;
}